## Project to Upload Files to GCS using Pandas

As part of the series of lectures we will see how to upload files to GCS using Python Pandas. We will be using `glob`, `os`, and `pandas` to build the application logic.

Here are the design details.
* First, we need to get list of file names from the local file system to upload.
* As we want to have right column names for our data set, we need to ensure that the column names are extracted from **schemas.json** file in `data/retail_db`.
* Once we get the file names, we can use `pd.read_csv` with `names` to create Dataframe and then write to target GCS location using `parquet` file format.
* We will use metadata or data driven development approach to take care of uploading all the files related to retail to GCS.
* Blobs or Files using Parquet format will be named using file names as reference.

In [1]:
#!gsutil rm -r gs://airetail/retail_db_parquet

Updates are available for some Cloud SDK components.  To install them,
please run:
  $ gcloud components update

CommandException: No URLs matched: gs://airetail/retail_db_parquet

In [2]:
#!gsutil ls gs://airetail/

gs://airetail/pythondemo/
gs://airetail/retail_db/

In [5]:
import glob
import os

In [6]:
def get_file_names(src_base_dir):
    #NOTE can also accomplish glob.glob(f'{src_base_dir}/**', recursive=True) using os.walk ()
    items = glob.glob(f'{src_base_dir}/**', recursive=True)
    return list(filter(lambda item: os.path.isfile(item) and item.endswith('part-00000'), items))

In [7]:
#src_base_dir = '../../data/retail_db'
src_base_dir = os.sep.join ([os.getcwd (), "data-engineering-on-gcp", "data", "retail_db"])

In [8]:
get_file_names(src_base_dir)

['C:\\Users\\User\\Desktop\\ComputerScience\\Udemy\\DataEngineering\\data-engineering-on-gcp\\data\\retail_db\\categories\\part-00000',
 'C:\\Users\\User\\Desktop\\ComputerScience\\Udemy\\DataEngineering\\data-engineering-on-gcp\\data\\retail_db\\customers\\part-00000',
 'C:\\Users\\User\\Desktop\\ComputerScience\\Udemy\\DataEngineering\\data-engineering-on-gcp\\data\\retail_db\\departments\\part-00000',
 'C:\\Users\\User\\Desktop\\ComputerScience\\Udemy\\DataEngineering\\data-engineering-on-gcp\\data\\retail_db\\orders\\part-00000',
 'C:\\Users\\User\\Desktop\\ComputerScience\\Udemy\\DataEngineering\\data-engineering-on-gcp\\data\\retail_db\\order_items\\part-00000',
 'C:\\Users\\User\\Desktop\\ComputerScience\\Udemy\\DataEngineering\\data-engineering-on-gcp\\data\\retail_db\\products\\part-00000']

In [9]:
import json

In [11]:
#schemas = json.load(open('../../data/retail_db/schemas.json'))
schemas = json.load (open (os.sep.join ([os.getcwd (), "data-engineering-on-gcp", "data", "retail_db", "schemas.json"])))
schemas

{'departments': [{'column_name': 'department_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'department_name',
   'data_type': 'string',
   'column_position': 2}],
 'categories': [{'column_name': 'category_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'category_department_id',
   'data_type': 'integer',
   'column_position': 2},
  {'column_name': 'category_name',
   'data_type': 'string',
   'column_position': 3}],
 'orders': [{'column_name': 'order_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2},
  {'column_name': 'order_customer_id',
   'data_type': 'timestamp',
   'column_position': 3},
  {'column_name': 'order_status',
   'data_type': 'string',
   'column_position': 4}],
 'products': [{'column_name': 'product_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'product_cateogry_id',
   'data_type': 'integer',
   'column_position': 2},
  {'column_name': 'product_name', 'data_type': '', 'column_position': 3},
  {'column_name': 'product_description',
   'data_type': 'string',
   'column_position': 4},
  {'column_name': 'product_price', 'data_type': 'float', 'column_position': 5},
  {'column_name': 'product_image',
   'data_type': 'string',
   'column_position': 6}],
 'customers': [{'column_name': 'customer_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'customer_fname',
   'data_type': 'string',
   'column_position': 2},
  {'column_name': 'customer_lname',
   'data_type': 'string',
   'column_position': 3},
  {'column_name': 'customer_email',
   'data_type': 'string',
   'column_position': 4},
  {'column_name': 'customer_password',
   'data_type': 'string',
   'column_position': 5},
  {'column_name': 'customer_street',
   'data_type': 'string',
   'column_position': 6},
  {'column_name': 'customer_city',
   'data_type': 'string',
   'column_position': 7},
  {'column_name': 'customer_state',
   'data_type': 'string',
   'column_position': 8},
  {'column_name': 'customer_zipcode',
   'data_type': 'integer',
   'column_position': 9}],
 'order_items': [{'column_name': 'order_item_id',
   'data_type': 'integer',
   'column_position': 1},
  {'column_name': 'order_item_order_id',
   'data_type': 'integer',
   'column_position': 2},
  {'column_name': 'order_item_product_id',
   'data_type': 'integer',
   'column_position': 3},
  {'column_name': 'order_item_quantity',
   'data_type': 'integer',
   'column_position': 4},
  {'column_name': 'order_item_subtotal',
   'data_type': 'float',
   'column_position': 5},
  {'column_name': 'order_item_product_price',
   'data_type': 'float',
   'column_position': 6}]}

In [12]:
schemas['orders']

[{'column_name': 'order_id', 'data_type': 'integer', 'column_position': 1},
 {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2},
 {'column_name': 'order_customer_id',
  'data_type': 'timestamp',
  'column_position': 3},
 {'column_name': 'order_status', 'data_type': 'string', 'column_position': 4}]

In [13]:
sorted(schemas['orders'], key=lambda col: col['column_position'])

[{'column_name': 'order_id', 'data_type': 'integer', 'column_position': 1},
 {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2},
 {'column_name': 'order_customer_id',
  'data_type': 'timestamp',
  'column_position': 3},
 {'column_name': 'order_status', 'data_type': 'string', 'column_position': 4}]

In [14]:
ds_schema = sorted(schemas['orders'], key=lambda col: col['column_position'])
ds_schema

[{'column_name': 'order_id', 'data_type': 'integer', 'column_position': 1},
 {'column_name': 'order_date', 'data_type': 'string', 'column_position': 2},
 {'column_name': 'order_customer_id',
  'data_type': 'timestamp',
  'column_position': 3},
 {'column_name': 'order_status', 'data_type': 'string', 'column_position': 4}]

In [15]:
[col['column_name'] for col in ds_schema]

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [17]:
def get_column_names(schemas_file, ds_name):
    schemas = json.load(open(schemas_file))
    ds_schema = sorted(schemas[ds_name], key=lambda col: col['column_position'])
    columns = [col['column_name'] for col in ds_schema]
    return columns

In [18]:
#get_column_names('../../data/retail_db/schemas.json', 'orders')
get_column_names (os.sep.join ([os.getcwd (), "data-engineering-on-gcp", "data", "retail_db", "schemas.json"]), "orders")

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [24]:
'''
for ds in [
    'departments', 'categories', 'products',
    'customers', 'orders', 'order_items'
]:
    #column_names = get_column_names('../../data/retail_db/schemas.json', ds)
    column_names = get_column_names (os.sep.join ([os.getcwd (), "data-engineering-on-gcp", "data", "retail_db", "schemas.json"]), ds)
    print(f"columns for {ds} are {','.join(column_names)}")
'''

for file_name in get_file_names (src_base_dir):
    ds = file_name.split (os.sep) [len (file_name.split (os.sep)) - 2]
    column_names = get_column_names (os.sep.join ([os.getcwd (), "data-engineering-on-gcp", "data", "retail_db", "schemas.json"]), ds)
    print (f"columns for {ds} are {','.join (column_names)}")

columns for categories are category_id,category_department_id,category_name
columns for customers are customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
columns for departments are department_id,department_name
columns for orders are order_id,order_date,order_customer_id,order_status
columns for order_items are order_item_id,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
columns for products are product_id,product_cateogry_id,product_name,product_description,product_price,product_image

In [25]:
import pandas as pd

In [26]:
#src_base_dir = '../../data/retail_db'
src_base_dir = os.sep.join ([os.getcwd (), "data-engineering-on-gcp", "data", "retail_db"])
#schemas_file = '../../data/retail_db/schemas.json'
schemas_file = os.sep.join ([os.getcwd (), "data-engineering-on-gcp", "data", "retail_db", "schemas.json"])
#bucket = 'airetail'
bucket = "udemy-retail-gcpbucket"
files = get_file_names(src_base_dir)

In [27]:
file = files[0]
file

'C:\\Users\\User\\Desktop\\ComputerScience\\Udemy\\DataEngineering\\data-engineering-on-gcp\\data\\retail_db\\categories\\part-00000'

In [29]:
#'/'.join(file.split('/')[-2:])
"/".join (file.split (os.sep) [-2:])

'categories/part-00000'

In [30]:
#ds_name = file.split('/')[-2]
ds_name = file.split (os.sep) [-2]
ds_name

'categories'

In [33]:
columns = get_column_names(schemas_file, ds_name)
columns

['customer_id',
 'customer_fname',
 'customer_lname',
 'customer_email',
 'customer_password',
 'customer_street',
 'customer_city',
 'customer_state',
 'customer_zipcode']

In [31]:
#src_base_dir = '../../data/retail_db'
src_base_dir = os.sep.join ([os.getcwd (), "data-engineering-on-gcp", "data", "retail_db"])
tgt_base_dir = 'retail_pythondemo/retail_db'
#schemas_file = '../../data/retail_db/schemas.json'
schemas_file = os.sep.join ([os.getcwd (), "data-engineering-on-gcp", "data", "retail_db", "schemas.json"])
#bucket = 'airetail'
bucket = "udemy-retail-gcpbucket"
files = get_file_names(src_base_dir)
for file in files:
    print(f'Uploading file {file}')
    #blob_suffix = '/'.join(file.split('/')[-2:])
    blob_suffix = "/".join (file.split (os.sep) [len (file.split (os.sep)) - 2:])
    #ds_name = file.split('/')[-2]
    ds_name = file.split (os.sep) [-2]
    blob_name = f'gs://{bucket}/{tgt_base_dir}/{blob_suffix}.snappy.parquet'
    columns = get_column_names(schemas_file, ds_name)
    df = pd.read_csv(file, names=columns)
    df.to_parquet(blob_name, index=False)

Uploading file C:\Users\User\Desktop\ComputerScience\Udemy\DataEngineering\data-engineering-on-gcp\data\retail_db\categories\part-00000
Uploading file C:\Users\User\Desktop\ComputerScience\Udemy\DataEngineering\data-engineering-on-gcp\data\retail_db\customers\part-00000
Uploading file C:\Users\User\Desktop\ComputerScience\Udemy\DataEngineering\data-engineering-on-gcp\data\retail_db\departments\part-00000
Uploading file C:\Users\User\Desktop\ComputerScience\Udemy\DataEngineering\data-engineering-on-gcp\data\retail_db\orders\part-00000
Uploading file C:\Users\User\Desktop\ComputerScience\Udemy\DataEngineering\data-engineering-on-gcp\data\retail_db\order_items\part-00000
Uploading file C:\Users\User\Desktop\ComputerScience\Udemy\DataEngineering\data-engineering-on-gcp\data\retail_db\products\part-00000

In [35]:
!gsutil ls -r gs://airetail/retail_db_parquet

gs://airetail/retail_db_parquet/:

gs://airetail/retail_db_parquet/categories/:
gs://airetail/retail_db_parquet/categories/part-00000.snappy.parquet

gs://airetail/retail_db_parquet/customers/:
gs://airetail/retail_db_parquet/customers/part-00000.snappy.parquet

gs://airetail/retail_db_parquet/departments/:
gs://airetail/retail_db_parquet/departments/part-00000.snappy.parquet

gs://airetail/retail_db_parquet/order_items/:
gs://airetail/retail_db_parquet/order_items/part-00000.snappy.parquet

gs://airetail/retail_db_parquet/orders/:
gs://airetail/retail_db_parquet/orders/part-00000.snappy.parquet

gs://airetail/retail_db_parquet/products/:
gs://airetail/retail_db_parquet/products/part-00000.snappy.parquet

In [39]:
pd.read_csv('../../data/retail_db/orders/part-00000', header=None)

           0                      1      2                3
0          1  2013-07-25 00:00:00.0  11599           CLOSED
1          2  2013-07-25 00:00:00.0    256  PENDING_PAYMENT
2          3  2013-07-25 00:00:00.0  12111         COMPLETE
3          4  2013-07-25 00:00:00.0   8827           CLOSED
4          5  2013-07-25 00:00:00.0  11318         COMPLETE
...      ...                    ...    ...              ...
68878  68879  2014-07-09 00:00:00.0    778         COMPLETE
68879  68880  2014-07-13 00:00:00.0   1117         COMPLETE
68880  68881  2014-07-19 00:00:00.0   2518  PENDING_PAYMENT
68881  68882  2014-07-22 00:00:00.0  10000          ON_HOLD
68882  68883  2014-07-23 00:00:00.0   5533         COMPLETE

[68883 rows x 4 columns]

In [36]:
pd.read_parquet('gs://airetail/retail_db_parquet/orders/part-00000.snappy.parquet')

       order_id             order_date  order_customer_id     order_status
0             1  2013-07-25 00:00:00.0              11599           CLOSED
1             2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2             3  2013-07-25 00:00:00.0              12111         COMPLETE
3             4  2013-07-25 00:00:00.0               8827           CLOSED
4             5  2013-07-25 00:00:00.0              11318         COMPLETE
...         ...                    ...                ...              ...
68878     68879  2014-07-09 00:00:00.0                778         COMPLETE
68879     68880  2014-07-13 00:00:00.0               1117         COMPLETE
68880     68881  2014-07-19 00:00:00.0               2518  PENDING_PAYMENT
68881     68882  2014-07-22 00:00:00.0              10000          ON_HOLD
68882     68883  2014-07-23 00:00:00.0               5533         COMPLETE

[68883 rows x 4 columns]

In [41]:
for ds in [
    'departments', 'categories', 'products',
    'customers', 'orders', 'order_items'
]:
    df = pd.read_csv(f'../../data/retail_db/{ds}/part-00000', header=None)
    print(f'''Shape of {ds} in local files system is {df.shape}''')

Shape of departments in local files system is (6, 2)
Shape of categories in local files system is (58, 3)
Shape of products in local files system is (1345, 6)
Shape of customers in local files system is (12435, 9)
Shape of orders in local files system is (68883, 4)
Shape of order_items in local files system is (172198, 6)

In [42]:
for ds in [
    'departments', 'categories', 'products',
    'customers', 'orders', 'order_items'
]:
    df = pd.read_parquet(f'gs://{bucket}/{tgt_base_dir}/{ds}/part-00000.snappy.parquet')
    print(f'''Shape of {ds} in gcs is {df.shape}''')

Shape of departments in gcs is (6, 2)
Shape of categories in gcs is (58, 3)
Shape of products in gcs is (1345, 6)
Shape of customers in gcs is (12435, 9)
Shape of orders in gcs is (68883, 4)
Shape of order_items in gcs is (172198, 6)

In [61]:
from  google.cloud import storage
client = storage.Client ()

#bucket = client.bucket ("gs://udemy-retail-gcpbucket")

#help (bucket)
#bucket
#blobs = list (bucket.list_blobs ())
#blobs
#help (bucket.list_blobs ())
#blobs = client.list_blobs ("gs://udemy-retail-gcpbucket")
blobs = client.list_blobs ("udemy-retail-gcpbucket")
items = list (blobs)
#help (client)
for item in items:
    #print (item.name)
    uri = "/".join (["gs://udemy-retail-gcpbucket", item.name])
    df = pd.read_parquet (uri)
    print (df.head ())

   category_id  category_department_id        category_name
0            1                       2             Football
1            2                       2               Soccer
2            3                       2  Baseball & Softball
3            4                       2           Basketball
4            5                       2             Lacrosse
   customer_id customer_fname customer_lname customer_email customer_password  \
0            1        Richard      Hernandez      XXXXXXXXX         XXXXXXXXX
1            2           Mary        Barrett      XXXXXXXXX         XXXXXXXXX
2            3            Ann          Smith      XXXXXXXXX         XXXXXXXXX
3            4           Mary          Jones      XXXXXXXXX         XXXXXXXXX
4            5         Robert         Hudson      XXXXXXXXX         XXXXXXXXX

           customer_street customer_city customer_state  customer_zipcode
0       6303 Heather Plaza   Brownsville             TX             78521
1  9526 Noble Embers Ridge     Littleton             CO             80126
2   3422 Blue Pioneer Bend        Caguas             PR               725
3       8324 Little Common    San Marcos             CA             92069
4   10 Crystal River Mall         Caguas             PR               725
   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
   order_item_id  order_item_order_id  order_item_product_id  \
0              1                    1                    957
1              2                    2                   1073
2              3                    2                    502
3              4                    2                    403
4              5                    4                    897

   order_item_quantity  order_item_subtotal  order_item_product_price
0                    1               299.98                    299.98
1                    1               199.99                    199.99
2                    5               250.00                     50.00
3                    1               129.99                    129.99
4                    2                49.98                     24.99
   order_id             order_date  order_customer_id     order_status
0         1  2013-07-25 00:00:00.0              11599           CLOSED
1         2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2         3  2013-07-25 00:00:00.0              12111         COMPLETE
3         4  2013-07-25 00:00:00.0               8827           CLOSED
4         5  2013-07-25 00:00:00.0              11318         COMPLETE
   product_id  product_cateogry_id  \
0           1                    2
1           2                    2
2           3                    2
3           4                    2
4           5                    2

                                    product_name  product_description  \
0  Quest Q64 10 FT. x 10 FT. Slant Leg Instant U                  NaN
1  Under Armour Men's Highlight MC Football Clea                  NaN
2  Under Armour Men's Renegade D Mid Football Cl                  NaN
3  Under Armour Men's Renegade D Mid Football Cl                  NaN
4  Riddell Youth Revolution Speed Custom Footbal                  NaN

   product_price                                      product_image
0          59.98  http://images.acmesports.sports/Quest+Q64+10+F...
1         129.99  http://images.acmesports.sports/Under+Armour+M...
2          89.99  http://images.acmesports.sports/Under+Armour+M...
3          89.99  http://images.acmesports.sports/Under+Armour+M...
4         199.99  http://images.acmesports.sports/Riddell+Youth+...